name: Create Draft Release

on:
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build & Test
    uses: ./.github/workflows/build-and-test.yml

  create-draft-release:
    name: Create Draft Release
    runs-on: windows-latest
    needs: build-and-test

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v1
      with:
        versionSpec: '5.x'

    - name: Run GitVersion
      id: gitversion
      uses: gittools/actions/gitversion/execute@v1

    - name: Download NuGet package
      uses: actions/download-artifact@v4
      with:
        name: nuget-package
        path: ./artifacts

    - name: Zip source code
      run: git archive --format=zip --output ./artifacts/Reveal.Sdk.Dom.${{ steps.gitversion.outputs.SemVer }}.zip HEAD

    - name: Create GitHub draft release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ steps.gitversion.outputs.SemVer }}
        name: ${{ steps.gitversion.outputs.SemVer }}
        draft: true
        generate_release_notes: true
        files: |
          ./artifacts/*.nupkg
          ./artifacts/*.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
